.div{
    border: 1px solid black;
}
.company-logo{
    width: 50%;
}
.nav-space{
    /* margin-left: 20rem; */
}
.btn-pad{
    padding: 0 1rem 0 1rem;
}
.a-header-pad{
    /* margin-left: 10rem; */
}
.bd-img{
    background-image: url('../images/IMG_0983@2x.png');
    height: 80vh;
    width: 100%;
    /* background-size: 900px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.bd-img::before{
    content: '';
    background: transparent linear-gradient(89deg, #2D2F48 0%, #001550A6 47%, #00155073 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.text-container{
    height: 100%;
    width: 50%;
    position: relative;
    z-index: 10;
}
.text-header{
text-align: left;
font: Bold 200%/100% Poppins;
letter-spacing: 0.9px;
color: #FFFFFF;
margin-top: 20vh;
}
.text-caption{
text-align: left;
font: Regular 28px/70px Poppins;
letter-spacing: 0.72px;
color: #FFBE58;
}

.img-small-cards{
width: 40%;
height: 40%;
}
.small-cards-wrapper{
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #4756773d;
border-radius: 15px;
/* opacity: 0.2; */
width: 127px;
height: 127px;
align-items: center;
margin-left: 3vh;
margin-top: 2vh;
}
.card-text{
text-align: center;
font: bold 10px/16px Poppins;
letter-spacing: 0;
color: #475677;
/* opacity: 1; */
}

.btn-cards-wrapper{
    background: #FFBE58 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
    /* opacity: 0.2; */
    width: 127px;
    height: 127px;
    align-items: center;
    margin-left: 3vh;
    margin-top: 2vh;
}
.btn-text{
text-align: center;
font: bold 10px/16px Poppins;
letter-spacing: 0;
color: rgb(255, 255, 255);
/* opacity: 1; */
}
.btn-img{
    font-size: 6vh;
}
.course-wrapper{
   width: 65%; 
}
.img-card-course{
    height: 30vh;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.img-card-rectangle{
    height: 30vh;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.card-text-head{
text-align: left;
font-size: 1.5vh;
font-family: rubik;
letter-spacing: 0 ;
color: #7D8597;
opacity: 1 ;
}

.time-wrapper{
    background: rgba(0, 181, 145, 0.274) 0% 0% no-repeat padding-box;
    border-radius: 17px;
    }
.card-time{
    text-align: left;
    letter-spacing: 0;
    color:#00B592;
    opacity: 1;
    font-size: 1.5vh;
}
.card-text-p{
text-align: left;
font-size:  18px/28px;
font-family: Poppins;
letter-spacing: 0;
color: #475677;
font-weight:bold;
/* opacity: 1; */
}

.card-wrapper{
border: 1px solid #5359642f;
border-radius: 15px;
/* opacity: 0.2; */
}
.card-text-footer{
text-align: left;
font-size: 1.8vh;
letter-spacing: 0;
color: #7D8597;
opacity: 1;

}
.awesome{
    color: #FFBE58;
}
.choose-container{
/* height: 10vh; */
width: 100%;
}
.chooseus-img{
    width: 50%;
    height: 100%;
    /* height: 90vh; */
    background-image: url('../images/blurred-background-cap-casual-2826131.png');
    background-repeat: no-repeat;
    background-size: cover;  
}
.chooseus-wrapper{
    width: 50%;
    height: 100%;
}
.chooseus-header{
    width: 100%;
    height: 50%; 
}
.chooseus-foot{
    width: 100%;
    height: 50%;
}
.chooseus-header-head{
    text-align: left;
    font-size: 4vh;
    font-weight: bolder;
    font-family: Poppins;
    letter-spacing: 0;
    color: #475677; 
    padding: 0;
    margin: 0;   
}
.chooseus-header-head-main{
    text-align: left;
    letter-spacing: 0;
    color: #475677;
    opacity: 1;
    font-size: 6vh;
    padding: 0;
    margin: 0;
}
.chooseus-main{
text-align: left;
font-size: 2vh;
letter-spacing: 0;
color: #7D8597;
opacity: 1;
margin-top: 3vh;
}
.list-online{
    text-align: left;
    font: SemiBold 20px/56px Poppins;
    letter-spacing: 0;
    color: #475677;
    opacity: 1;
    font-weight: bold;
}
.img-fluid2{
height: 100vh;
}
.achievement-container{
background: #EFF7FF 0% 0% no-repeat padding-box;
opacity: 1;

}
.achievement-header{
text-align: center;
font-size: xx-large;
letter-spacing: 0;
color: #475677;
opacity: 1;
}
.achievement-text{
text-align: center;
font: Regular 15px/26px Rubik;
letter-spacing: 0;
color: #7D8597;
opacity: 1;
}
.score-container{
    width: 70%;
}
.nopad{
    margin: 0;
    padding: 0;
}
.mutedtext{
    text-align: center;
    font: Regular 15px/26px Rubik;
    letter-spacing: 0;
    color: #7D8597;
    opacity: 1;
    font-size:2vh    
}
.mutedtext-align{
    font: Regular 15px/26px Rubik;
    letter-spacing: 0;
    color: #7D8597;
    opacity: 1;
    font-size:2vh
}
.profile{
    text-align: center;
    letter-spacing: 0;
    color: #E0474E;
    text-transform: uppercase;
    opacity: 1;
    font-weight:bold;
    font-size: 4vh;
}

.expert{
    text-align: center;
    letter-spacing: 0;
    color: #E0474E;
    text-transform: uppercase;
    opacity: 1;
    font-weight:bold;
    font-size: 4vh;
}
.enroll{
    text-align: center;
    letter-spacing: 0;
    color: #00B592;
    text-transform: uppercase;
    opacity: 1;
    font-weight:bold;
    font-size: 4vh;
}
.course{
    text-align: center;
    letter-spacing: 0;
    color: #E0474E;
    text-transform: uppercase;
    opacity: 1;
    font-weight:bold;
    font-size: 4vh;  
}
.course{
    text-align: center;
    letter-spacing: 0;
    color: #2680EB;
    text-transform: uppercase;
    opacity: 1;
    font-weight:bold;
    font-size: 4vh;      
}
.video{
    height: 427px;
    width: 50px;
}
.instructor-1{
    background-image: url('../images/instructor1.png');
    height: 60vh;
    width: 60vh;
    /* background-size: 900px; */
    background-repeat: no-repeat;
    background-size: contain;
    /* background-position-y: -10vh; */
    /* position: relative; */

}
.instructor-2{
    background-image: url('../images/instructor2.png');
    height: 60vh;
    width: 60vh;
    /* background-size: 900px; */
    background-repeat: no-repeat;
    background-size: contain;


}
.instructor-3{
    background-image: url('../images/instructor3.png');
    height: 60vh;
    width: 60vh;
    /* background-size: 900px; */
    background-repeat: no-repeat;
    background-size: contain;
    /* background-position-y: -10vh; */
    /* position: relative; */

}
.instructor-4{
    background-image: url('../images/instructor4.png');
    height: 60vh;
    width: 60vh;
    /* background-size: 900px; */
    background-repeat: no-repeat;
    background-size: contain;
    /* background-position-y: -10vh; */
    /* position: relative; */

}
.instructor-5{
    background-image: url('../images/instructor5.png');
    height: 60vh;
    width: 60vh;
    background-repeat: no-repeat;
    background-size: contain;
}
.instructor-pix{
    width: 45vh;
    height: 50vh;
}
.inside-div{
    width: 100%;
    height: 100%;
    background: transparent linear-gradient(89deg, #2D2F48 0%, #001550A6 47%, #00155073 100%) 0% 0% no-repeat padding-box;
}

.time{
    color:yellow;
}
.smalltext{
    font-size:1vh;
}
.inspector-container{
    width: 90%;
}

::-webkit-scrollbar {
    display: none;
  }
  .md1-container{
width: 40%;
  }

  .md-img-container{
    width: 100%;
      }
.ceo-img{
    width: 50%;
}
.newsletter-header{
text-align: center;
font-weight: Light;
letter-spacing: 0;
color: #475677;
font-size: 3vh;
}
.newsletter-header2{
text-align: center;
font-weight: Bold;
letter-spacing: 0;
color: #475677;
font-size: 4vh;
}
.play-store{
background: #334565 0% 0% no-repeat padding-box;
border-radius: 7px;
opacity: 1;
margin-bottom: 1vh;
color: white;
padding: 1vh 4vh 1vh 4vh;
}

.card-bg{
    background-image: url('../images/MaskGroup.png');
    background-repeat: no-repeat;
    background-size: 39vh;
    background-position: top;
}

.play-circle{
    position: relative;
}
.play-triangle{
    position: relative;
    left: -10vh;

}